@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat";
    background: #181818;
}

.top-panel_overlay {
    z-index: 9;
    font-weight: 600;
    color: white;
    font-size: 32px;
    line-height: 0;
    margin-left: 32px;
    padding-top: 48px;
    letter-spacing: 8px;
    padding-bottom: 38px;
}

.top_name {
    display: inline-block;
    margin-left: 16px;
}

.top_panel_wrapper {
    background: #333;
    position: relative;
}

.center {
    display: flex;
    justify-content: center;
}

.navbar_wrapper {
    display: block;
    position: absolute;
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: 16rem;
}

h1 {
    color: white
}


.dropdown a {
    display: inline-block;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    font-size: 24px;
    margin: 16px 16px;
    padding: 14px 20px;
    text-decoration: none;
}

    .dropdown a:hover {
        background: #555;
        color: white;
        transition: all 0.25s ease;
    }

.letters-spacing {
    letter-spacing: 4px;
}



.ul-dropdown {
    list-style: none;
    background-color: #333;
    position: absolute;
    top: 40px;
    padding: 0;
    width: 100%;
    opacity: 0%;
    pointer-events: none;
    transform: translateY(30px);
    transition: all 0.25s ease;
}

.li-dropdown .a-dropdown {
    padding: 4px 0px 4px 0px;
    margin: 4px 0px 4px 0px;
    font-size: 20px;
    width: 100%;
}

.li-dropdown:hover {
    background: #555;
    transition: all 0.25s ease;
}

.a-dropdown:hover {
    height: 150%;
}

.tasks {
    position: relative;
}

.dropdown {
    background: #333;
    display: flex;
    width:50%;
    left:20%;
    justify-content: space-around;
    align-items: center;
}

.ul-dropdown:hover, #tasksText:hover + ul {
    opacity: 100%;
    pointer-events: all;
    transform: translateY(35px);
}
