@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

select, option {
    color: white;
    letter-spacing: 5px;
    font-size: 24px;
    width: 220px;
    height: 40px;
    padding: 0px 6px;
    margin-top: 11px;
    background: #323232;
    border: 0px;
    font-family: "Montserrat";
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat";
    background: #181818;
}

.top-panel_overlay {
    z-index: 9;
    font-weight: 600;
    color: white;
    font-size: 32px;
    line-height: 0;
    margin-left: 32px;
    padding-top: 48px;
    letter-spacing: 8px;
    padding-bottom: 38px;
}

.top_name {
    display: inline-block;
    margin-left: 16px;
    float: inline-end;
}

.top_panel_wrapper {
    background: #333;
    position: relative;
}

.center {
    display: flex;
    justify-content: center;
}

.navbar_wrapper {
    display: block;
    position: absolute;
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: 16rem;
}

h1 {
    color: white
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    padding-left: 0px;
    padding-right: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    float: left;
}

    li a {
        display: inline-block;
        color: white;
        text-align: center;
        letter-spacing: 5px;
        font-size: 24px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 14px 20px;
        text-decoration: none;
    }

        li a:hover {
            text-decoration: underline;
            color: white
        }

.letters-spacing {
    letter-spacing: 4px;
}
